firstname,lastname,username,identity,province,password,ou
Analyst,Analyst,analyst,"Domain Admins",{{ domain_1 }},analyst,"CN=Users,{{ domain_component }}"
Pedro,Gustavo,pgustavo,"Domain Admins",{{ domain_1 }},S@lv@m3!M0d3,"CN=Users,{{ domain_component }}"
Lucho,Rodriguez,lrodriguez,"Users",{{ domain_1 }},Ann0n@!,"CN=Users,{{ domain_component }}"
Wec,Server,wecserver,"Users",{{ domain_1 }},Edhellen$,"CN=Users,{{ domain_component }}"
Norah,Martha,nmartha,"Users",{{ domain_1 }},ShiRe012!,"CN=Users,{{ domain_component }}"
Gandalf,TheWhite,gandalf,"ExecutiveStaff",Maiar,$hadowf@x1,"CN=Users,{{ domain_component }}"
Bilbo,Baggins,bilbo,"HumanResources",{{ domain_1 }},LittleThief1!,"CN=Users,{{ domain_component }}"
Frodo,Baggins,frodo,"Administrators",{{ domain_1 }},RingBeaRer12!,"CN=Users,{{ domain_component }}"
Merry,Brandybuck,merry,"Users",{{ domain_1 }},Meri@d0c!,"CN=Users,{{ domain_component }}"
Pippin,Took,pippin,"Users",{{ domain_1 }},PeRegRin1!,"CN=Users,{{ domain_component }}"
Samwise,Gamgee,samwise,"Developers",{{ domain_1 }},TheBr@ve1!,"CN=Users,{{ domain_component }}"
